In [9]:
import pandas as pd
from scipy.io import arff

import plotly
plotly.tools.set_credentials_file(username='artemii-yanushevskyi', api_key='aRmQfG7U4SAlhISYVym7')

import plotly.plotly as py
import plotly.graph_objs as go

from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
init_notebook_mode(connected=True)
from IPython.display import Image
import plotly.io as pio

import numpy as np
import seaborn as sns

from scipy.stats.stats import pearsonr
import matplotlib.pyplot as plt
colormap = plt.cm.RdBu

exporting = True

from sklearn.model_selection import train_test_split
from sklearn.utils import shuffle

from sklearn.preprocessing import OneHotEncoder

from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import cross_val_score

from sklearn.externals.six import StringIO  
from IPython.display import Image  
from sklearn.tree import export_graphviz
import pydotplus

from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.dummy import DummyClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

import tensorflow as tf
import os
os.environ['KMP_DUPLICATE_LIB_OK']='True'
from sklearn.base import BaseEstimator, ClassifierMixin

In [2]:
data, meta = arff.loadarff('cworkTrain.arff')
df = pd.DataFrame(data)

# convert attribute values with type "object" to regular strings
objects_df = df.select_dtypes([object]) # select only atributes of object type
stack_df = objects_df.stack() # means create one column
decoded_stack_df = stack_df.str.decode('utf-8') # decode the values in the column
decoded_objects_df = decoded_stack_df.unstack() # separate into columns

# replace in df
for col in decoded_objects_df.columns:
    df[col] = decoded_objects_df[col]

# replace month with a value
df['month'] = pd.to_datetime(df.month, format='%b').dt.month

In [3]:
df['termDeposit'] = df['termDeposit'].apply(lambda x: 0 if x == 'no' else 1)
df_features = df.drop(columns='termDeposit')
df_categorical = df_features.select_dtypes([object])
df_numerical = df_features.select_dtypes([int, float])
# create dummy variables for df_categorical

df_one_hot = pd.concat([df_numerical, df['termDeposit']], axis=1)
catergorical_attributes = dict()
for atr in df_categorical.columns:
    df_dummies = pd.get_dummies(df[atr], prefix = atr)
    catergorical_attributes[atr] = [col.split('_')[1] for col in df_dummies.columns]
    df_one_hot = pd.concat([df_one_hot, df_dummies], axis=1) # the dataset ready to appy decision tree algorithm

display(df_one_hot.head())

,age,balance,day,month,duration,campaign,pdays,previous,termDeposit,job_admin.,...,housing_yes,loan_no,loan_yes,contact_cellular,contact_telephone,contact_unknown,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown
0,58.0,2143.0,5.0,5,261.0,1.0,-1.0,0.0,0,0,...,1,1,0,0,0,1,0,0,0,1
1,44.0,29.0,5.0,5,151.0,1.0,-1.0,0.0,0,0,...,1,1,0,0,0,1,0,0,0,1
2,33.0,2.0,5.0,5,76.0,1.0,-1.0,0.0,0,0,...,1,0,1,0,0,1,0,0,0,1
3,47.0,1506.0,5.0,5,92.0,1.0,-1.0,0.0,0,0,...,1,1,0,0,0,1,0,0,0,1
4,35.0,231.0,5.0,5,139.0,1.0,-1.0,0.0,0,0,...,1,1,0,0,0,1,0,0,0,1

In [4]:
attribute_order_one_hot = []
for i in range(len(df.columns)):
    if df.columns[i] in catergorical_attributes.keys():
        print(i, df.columns[i])
        categories = [df.columns[i] + '_' + cat for cat in catergorical_attributes[df.columns[i]]]
        attribute_order_one_hot.extend(categories)
    else:
        attribute_order_one_hot.append(df.columns[i])
        
df_one_hot_ordered = df_one_hot[attribute_order_one_hot]
df_one_hot_ordered.head()

1 job
2 marital
3 education
4 default
6 housing
7 loan
8 contact
15 poutcome

,age,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,...,month,duration,campaign,pdays,previous,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown,termDeposit
0,58.0,0,0,0,0,1,0,0,0,0,...,5,261.0,1.0,-1.0,0.0,0,0,0,1,0
1,44.0,0,0,0,0,0,0,0,0,0,...,5,151.0,1.0,-1.0,0.0,0,0,0,1,0
2,33.0,0,0,1,0,0,0,0,0,0,...,5,76.0,1.0,-1.0,0.0,0,0,0,1,0
3,47.0,0,1,0,0,0,0,0,0,0,...,5,92.0,1.0,-1.0,0.0,0,0,0,1,0
4,35.0,0,0,0,0,1,0,0,0,0,...,5,139.0,1.0,-1.0,0.0,0,0,0,1,0

In [5]:
df_shuffle = shuffle(df_one_hot_ordered)
X_train, X_test, y_train, y_test = train_test_split(df_shuffle.drop('termDeposit', axis=1), df_shuffle['termDeposit'], test_size=0.33, random_state=45)
display(df_shuffle.head(), X_train.shape)

,age,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,...,month,duration,campaign,pdays,previous,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown,termDeposit
7824,52.0,0,0,0,1,0,0,0,0,0,...,6,49.0,1.0,-1.0,0.0,0,0,0,1,0
12500,37.0,1,0,0,0,0,0,0,0,0,...,7,152.0,2.0,-1.0,0.0,0,0,0,1,0
1516,35.0,0,0,0,0,0,0,0,0,0,...,5,338.0,4.0,-1.0,0.0,0,0,0,1,0
7669,29.0,0,1,0,0,0,0,0,0,0,...,6,1330.0,3.0,-1.0,0.0,0,0,0,1,0
21419,34.0,0,1,0,0,0,0,0,0,0,...,11,57.0,3.0,-1.0,0.0,0,0,0,1,0

(24233, 40)

#Â Keras

In [6]:
X_train_norm = tf.keras.utils.normalize(X_train.values, axis=1)
X_test_norm = tf.keras.utils.normalize(X_test.values, axis=1)

Build a sklearn model for Keras Sequential NN.

In [34]:
class SequentialNNClassifier(BaseEstimator, ClassifierMixin):  
    """An example of classifier"""

    def __init__(self, n_catategories=2, optimizer="adam"):
        """
        Called when initializing the classifier
        """
        self.n_catategories = n_catategories
        self.optimizer = optimizer
        
        model = tf.keras.models.Sequential()

        model.add(tf.keras.layers.Flatten())
        model.add(tf.keras.layers.Dense(128, activation=tf.nn.relu))
        model.add(tf.keras.layers.Dense(128, activation=tf.nn.relu))
        model.add(tf.keras.layers.Dense(self.n_catategories, activation=tf.nn.softmax))
        
        model.compile(optimizer=self.optimizer,
                      loss='sparse_categorical_crossentropy',
                      metrics=['accuracy'])

        self.model = model

    def fit(self, X, y=None):
        self.model.fit(X_train_norm, y_train.values, epochs=3, batch_size=10)
        return self

    def predict(self, X, y=None):
        predict_proba = self.model.predict(X)[:,1]
        return (predict_proba > 0.5).astype(int)

    def score(self, X, y=None):
        val_loss, val_acc = self.model.evaluate(X, y)
        return val_acc

In [36]:
seq = SequentialNNClassifier()
seq.fit(X_train_norm, y_train.values)

Epoch 1/3
24233/24233 [==============================] - 9s 380us/step - loss: 0.2984 - acc: 0.8847
Epoch 2/3
24233/24233 [==============================] - 8s 337us/step - loss: 0.2762 - acc: 0.8877
Epoch 3/3
24233/24233 [==============================] - 8s 338us/step - loss: 0.2679 - acc: 0.8890

SequentialNNClassifier(n_catategories=2, optimizer='adam')

In [37]:
confusion_matrix(seq.predict(X_test_norm), y_test.values)

array([[10311,  1094],
       [  229,   302]])

In [38]:
cvs_sequential = cross_val_score(seq, df_shuffle.drop('termDeposit',axis=1), df_shuffle['termDeposit'], cv=10)

Epoch 1/3
24233/24233 [==============================] - 10s 394us/step - loss: 0.2993 - acc: 0.8847
Epoch 2/3
24233/24233 [==============================] - 8s 341us/step - loss: 0.2754 - acc: 0.8878
Epoch 3/3
24233/24233 [==============================] - 8s 344us/step - loss: 0.2688 - acc: 0.8888
3618/3618 [==============================] - 0s 113us/step
Epoch 1/3
24233/24233 [==============================] - 10s 397us/step - loss: 0.2997 - acc: 0.8857
Epoch 2/3
24233/24233 [==============================] - 9s 354us/step - loss: 0.2751 - acc: 0.8871
Epoch 3/3
24233/24233 [==============================] - 10s 412us/step - loss: 0.2646 - acc: 0.8917
3617/3617 [==============================] - 1s 148us/step
Epoch 1/3
24233/24233 [==============================] - 13s 533us/step - loss: 0.2995 - acc: 0.8854
Epoch 2/3
24233/24233 [==============================] - 10s 415us/step - loss: 0.2757 - acc: 0.8873
Epoch 3/3
24233/24233 [==============================] - 10s 401us/step - loss: 0.2677 - acc: 0.8890
3617/3617 [==============================] - 0s 132us/step
Epoch 1/3
24233/24233 [==============================] - 11s 459us/step - loss: 0.2984 - acc: 0.8843
Epoch 2/3
24233/24233 [==============================] - 10s 428us/step - loss: 0.2770 - acc: 0.8882
Epoch 3/3
24233/24233 [==============================] - 12s 509us/step - loss: 0.2662 - acc: 0.8888
3617/3617 [==============================] - 1s 143us/step
Epoch 1/3
24233/24233 [==============================] - 12s 477us/step - loss: 0.3008 - acc: 0.8845
Epoch 2/3
24233/24233 [==============================] - 11s 436us/step - loss: 0.2756 - acc: 0.8882
Epoch 3/3
24233/24233 [==============================] - 13s 546us/step - loss: 0.2683 - acc: 0.8892
3617/3617 [==============================] - 1s 139us/step
Epoch 1/3
24233/24233 [==============================] - 12s 494us/step - loss: 0.2991 - acc: 0.8863
Epoch 2/3
24233/24233 [==============================] - 10s 427us/step - loss: 0.2756 - acc: 0.8872
Epoch 3/3
24233/24233 [==============================] - 10s 399us/step - loss: 0.2669 - acc: 0.8890
3617/3617 [==============================] - 1s 152us/step
Epoch 1/3
24233/24233 [==============================] - 22s 925us/step - loss: 0.2990 - acc: 0.8861
Epoch 2/3
24233/24233 [==============================] - 9s 383us/step - loss: 0.2756 - acc: 0.8878
Epoch 3/3
24233/24233 [==============================] - 9s 382us/step - loss: 0.2669 - acc: 0.8887
3617/3617 [==============================] - 1s 154us/step
Epoch 1/3
24233/24233 [==============================] - 11s 456us/step - loss: 0.3001 - acc: 0.8844
Epoch 2/3
24233/24233 [==============================] - 10s 405us/step - loss: 0.2768 - acc: 0.8876
Epoch 3/3
24233/24233 [==============================] - 13s 530us/step - loss: 0.2665 - acc: 0.8909
3617/3617 [==============================] - 1s 307us/step
Epoch 1/3
24233/24233 [==============================] - 20s 812us/step - loss: 0.2989 - acc: 0.8854
Epoch 2/3
24233/24233 [==============================] - 10s 428us/step - loss: 0.2753 - acc: 0.8871
Epoch 3/3
24233/24233 [==============================] - 10s 422us/step - loss: 0.2662 - acc: 0.8901
3616/3616 [==============================] - 1s 171us/step
Epoch 1/3
24233/24233 [==============================] - 12s 491us/step - loss: 0.2988 - acc: 0.8850
Epoch 2/3
24233/24233 [==============================] - 10s 429us/step - loss: 0.2759 - acc: 0.8881
Epoch 3/3
24233/24233 [==============================] - 14s 567us/step - loss: 0.2669 - acc: 0.8890
3616/3616 [==============================] - 1s 175us/step

In [42]:
cvs_sequential

array([0.85710337, 0.85346973, 0.85899917, 0.88249931, 0.88139342,
       0.8836052 , 0.89742881, 0.87669339, 0.83545354, 0.82439159])

In [41]:
seq.model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
flatten_1 (Flatten)          multiple                  0
_________________________________________________________________
dense_3 (Dense)              multiple                  5248
_________________________________________________________________
dense_4 (Dense)              multiple                  16512
_________________________________________________________________
dense_5 (Dense)              multiple                  258
=================================================================
Total params: 22,018
Trainable params: 22,018
Non-trainable params: 0
_________________________________________________________________

In [40]:
scores_sequential = pd.DataFrame()
scores_sequential['Sequential 3e 10'] = pd.Series(cvs_sequential)

data = []
for col in scores_sequential.columns:
    data.append(go.Box(y=scores_sequential[col], name=col, showlegend=False))

data.append(go.Scatter(x=scores_sequential.columns, y = scores_sequential.mean(), mode='lines', name='Mean'))
iplot(data)